<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @listing.title %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @listing.location %>">
      </div>

      <!-- Label and input for policies -->
      <div class="form-group">
        <label for="policies" class="control-label">
          Policies
        </label>

        <textarea id="policies" name="policies" placeholder="Policies" class="form-control" rows="3"><%= @listing.policies %></textarea>
      </div>

      <!-- Label and input for default_price_per_night -->
      <div class="form-group">
        <label for="default_price_per_night" class="control-label">
          Default price per night
        </label>

        <input type="text" id="default_price_per_night" name="default_price_per_night" placeholder="Default price per night" class="form-control" value="<%= @listing.default_price_per_night %>">
      </div>

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Hostprofile.all, :id, :user_host_id, @listing.host_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>
