<!-- Validation failure messages -->
<% if @booking.errors.any? %>
  <% @booking.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Booking</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_booking" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guesthostprofile.all, :id, :host_id, @booking.guest_id), :class => "form-control") %>
      </div>

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Hostprofile.all, :id, :user_host_id, @booking.host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title, @booking.listing_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Booking
      </button>
      or
      <a href="/bookings">Cancel</a>
    </form>
  </div>
</div>
