<div class="page-header">
  <h3>Guesthostprofile #<%= @guesthostprofile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @guesthostprofile.host.present? %>
          <a href="/user_hosts/<%= @guesthostprofile.host_id %>">
            <%= @guesthostprofile.host.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>User guest</dt>
      <dd>
        <% if @guesthostprofile.guest.present? %>
          <a href="/user_guests/<%= @guesthostprofile.user_guest_id %>">
            <%= @guesthostprofile.guest.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guesthostprofiles" class="btn btn-primary">
        Back
      </a>
      <a href="/guesthostprofiles/<%= @guesthostprofile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guesthostprofile/<%= @guesthostprofile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Guesthostprofile has many bookings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookings
      </li>

      <% @guesthostprofile.bookings.each do |booking| %>
        <li class="list-group-item">
          <a href="/bookings/<%= booking.id %>">
            <%= booking.guest_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookings/<%= booking.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookings/<%= booking.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_booking/<%= booking.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_booking" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guesthostprofile.all, :id, :host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Hostprofile.all, :id, :user_host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Booking
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
