<!-- Validation failure messages -->
<% if @request.errors.any? %>
  <% @request.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Request #<%= @request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_request/<%= @request.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="<%= @request.content %>">
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title, @request.listing_id), :class => "form-control") %>
      </div>

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <input type="text" id="guest_id" name="guest_id" placeholder="Guest" class="form-control" value="<%= @request.guest_id %>">
      </div>

      <button class="btn btn-warning">
        Update Request
      </button>
      or
      <a href="/requests/<%= @request.id %>">Cancel</a>
    </form>
  </div>
</div>
