<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd><%= @rating.review_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Rating has many tagsratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tagsratings
      </li>

      <% @rating.tagsratings.each do |g_tag_rating| %>
        <li class="list-group-item">
          <a href="/g_tag_ratings/<%= g_tag_rating.id %>">
            <%= g_tag_rating.accuracy %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/g_tag_ratings/<%= g_tag_rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/g_tag_ratings/<%= g_tag_rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_g_tag_rating/<%= g_tag_rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
