<div class="page-header">
  <h1>
    Listing tags
    <a href="/listing_tags/new" class="btn btn-lg btn-success">New Listing tag</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Private room</th>
        <th>Entire home</th>
        <th>Number of bedrooms</th>
        <th>Number of bathrooms</th>
        <th>Number of beds</th>
        <th>Max occupants</th>
        <th>City</th>
        <th>Neighborhood</th>
        <th>Listing</th>
        <th>Actions</th>
      </tr>

      <% @listing_tags.each do |listing_tag| %>
      <tr>
        <td><%= listing_tag.private_room %></td>
        <td><%= listing_tag.entire_home %></td>
        <td><%= listing_tag.number_of_bedrooms %></td>
        <td><%= listing_tag.number_of_bathrooms %></td>
        <td><%= listing_tag.number_of_beds %></td>
        <td><%= listing_tag.max_occupants %></td>
        <td><%= listing_tag.city %></td>
        <td><%= listing_tag.neighborhood %></td>
        <td>
          <% if listing_tag.listing.present? %>
            <a href="/listings/<%= listing_tag.listing.id %>">
              <%= listing_tag.listing.title %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/listing_tags/<%= listing_tag.id %>" class="btn btn-primary">Show</a>
          <a href="/listing_tags/<%= listing_tag.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_listing_tag/<%= listing_tag.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @listing_tags, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
