<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Review</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"><%= @review.content %></textarea>
      </div>

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guestprofile.all, :id, :guest_id, @review.guest_id), :class => "form-control") %>
      </div>

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <input type="text" id="host_id" name="host_id" placeholder="Host" class="form-control" value="<%= @review.host_id %>">
      </div>

      <!-- Label and input for booking_id -->
      <div class="form-group">
        <label for="booking_id" class="control-label">
          Booking
        </label>

        <input type="text" id="booking_id" name="booking_id" placeholder="Booking" class="form-control" value="<%= @review.booking_id %>">
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <input type="text" id="listing_id" name="listing_id" placeholder="Listing" class="form-control" value="<%= @review.listing_id %>">
      </div>

      <button class="btn btn-success">
        Create Review
      </button>
      or
      <a href="/reviews">Cancel</a>
    </form>
  </div>
</div>
